@import '@fontsource/fira-mono';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	min-width: 20rem;
	min-height: 100vh;
}

button,
input,
select {
	font: inherit;
}

#app {
	min-height: 100vh;
}
